<div class="btn-group album-filter">
    <button type="button" class="btn btn-xs" value="all">All Albums</button>
    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#all">All Albums</a></li>
        <!-- TODO: show the most used 5 albums -->
        <li><a href="#more">More...</a></li>
    </ul>
</div>
<div class="btn-group tag-filter">
    <button type="button" class="btn btn-xs" value="any">Any Tags</button>
    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#any">Any Tags</a></li>
        <li><a href="#more">More...</a></li>
    </ul>
</div>
<div class="btn-group sort-filter">
    <button type="button" class="btn btn-xs" value="dateTaken">Date Taken</button>
    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#dateTaken">Date Taken</a></li>
        <li><a href="#dateUploaded">Date Uploaded</a></li>
    </ul>
</div>
<div class="btn-group sort-filter-direction">
    <button type="button" class="btn btn-xs" value="DESCENDING">Most Recent</button>
    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#DESCENDING">Most Recent</a></li>
        <li><a href="#ASCENDING">Oldest</a></li>
    </ul>
</div>