<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Select Tags</h4>
        </div>
        <div class="modal-body" style="padding-top:0px;padding-bottom:0px;">

            <div>
                <form style="">
                    <label class="radio">
                        <input type="radio" name="grouping" value="any" checked>
                        <strong>Any:</strong>
                        <span style="font-size:small;font-style:italic;font-weight:normal;">Show photos having any of the selected tags.</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="grouping" value="all">
                        <strong>All:</strong>
                        <span style="font-size:small;font-style:italic;font-weight:normal;">Show only photos that have all of the selected tags.</span>
                    </label>

                    <div class="input-group">
                        <input type="text" name="filter" class="form-control" placeholder="Filter tag list...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div style="overflow:auto;border:1px solid silver;height:250px;">
                <ul class="list-group tag-list">
                </ul>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
