<div class="content-list">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Display Name</th>
                    <th>Role</th>
                    <th>Enabled</th>
                    <th>Account Expired</th>
                    <th>Credentials Expired</th>
                    <th>Account Locked</th>
                    <th>
                        <a class="btn btn-xs btn-default" href="#add" title="New User" role="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>