<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Your photos, your way."><strong>Photopile</strong></a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
            <li><a href="#gallery"><span class="glyphicon glyphicon-picture"></span> Gallery</a></li>
            <li><a href="#map"><span class="glyphicon glyphicon-globe"></span> Map</a></li>
            <li><a href="#albums"><span class="glyphicon glyphicon-book"></span> Albums</a></li>
            <li><a href="#tags"><span class="glyphicon glyphicon-tags"></span> Tags</a></li>
            <li><a href="#" data-toggle="modal" data-target="#photo-importer"><span class="glyphicon glyphicon-import"></span> Import</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#profile"><span class="glyphicon glyphicon-user"></span> Profile <span class="label label-warning">2</span></a></li>
            <li><a href="#help" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#admin/users">Users</a></li>
                    <li class="divider"></li>
                    <li><a href="#">System Health</a></li>
                    <li><a href="#">Configuration</a></li>
                </ul>
            </li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</div>