<div id="import-dialog" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Import photos from server...</h3>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="well well-small"><span class="label label-important">Important:</span> This ia a long-running
                server operation that will be loading files from the server; be sure you know what you are doing.
            </div>

            <div class="alert alert-error hide">
                <div></div>
            </div>

            <p>Enter the directory (accessible to the server) where your photos are stored:</p>

            <form>
                <fieldset>
                    <label>Directory:</label>
                    <input type="text" name="path" placeholder="Path on server..."/>
                    <span class="help-block">(relative to the server filesystem root)</span>
                    <label class="checkbox"><input name="preview" type="checkbox" checked="checked" />Scan only, do not actually import.</label>
                    <label class="checkbox"><input name="understand" type="checkbox"/>I understand what I am doing.</label>
                </fieldset>
            </form>
        </div>
        <div class="card hide">
            <p></p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="card">
            <button class="btn btn-link pull-left">Help</button>
            <button class="btn btn-primary">Import</button>
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
        <div class="card hide">
            <button class="btn btn-link pull-left">Help</button>
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>