<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Import photos from server...</h3>
</div>
<div class="modal-body">

    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <div class="well well-small"><span class="label label-important">Warning:</span> This ia a long-running
                    server operation that will be loading files from the server; be sure you know what you are doing.
                </div>

                <form>
                    <p>Specify the server directory where the files are to be imported from.</p>
                    <input type="text" style="width:95%;" name="directory" value="<%- directory %>" />

                    <p style="margin-top:10px;">Provide tags (comma-separated) to be applied to all imported photos.</p>
                    <input type="text" style="width:95%;" name="tags" value="<%- tags %>" />
                </form>
            </div>

            <div class="item confirm-panel"></div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="card">
        <button class="btn btn-link pull-left">Help</button>
        <button class="btn btn-primary scan-button">Scan</button>
        <button class="btn btn-primary import-button hide">Import</button>
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>