
<div id="messages-dialog" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Messages</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button class="btn btn-link pull-left">Help</button>
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<script type="text/template" id="message-list-template">
    <table class="table table-striped" style="height:200px;overflow: auto;">
        <thead>
        <tr>
            <th>Type</th>
            <th>Read</th>
            <th>Title</th>
            <th>Date</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% messages.each(function(msg){ %>
            <tr>
                <% if( msg.get('messageType') == 'ERROR' ){ %>
                    <td><span class="label label-important"><%= msg.get('messageType') %></span></td>
                <% } else { %>
                    <td><span class="label label-info"><%= msg.get('messageType') %></span></td>
                <% } %>
                <td>
                    <% if( msg.get('read') != 'true' ){ %>
                        <i class="icon-envelope" title="Unread message"></i>
                    <% } %>
                </td>
                <td><a href="#messages/<%= msg.id %>" class="title"><%= msg.get('title') %></a></td>
                <td><%= msg.get('dateCreated') %></td>
                <td>
                    <% if( msg.get('read') != 'true' ){ %>
                        <button class="btn" data-cmd="mark" data-id="<%= msg.get('id') %>"><i class="icon-ok" title="Mark as read"></i></button>
                    <% } %>
                </td>
                <td><button class="btn" data-cmd="delete" data-id="<%= msg.get('id') %>"><i class="icon-trash" title="Remove"></i></button></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script type="text/template" id="message-view-template">
    <p><strong><%= message.get('title') %></strong></p>
    <p><%= message.get('content') %></p>
    <p class="pull-right"><a href="#messages">Delete</a> ~ <a href="#messages">Back</a></p>
</script>