<tr class="tag-item" data-tag="<%- name %>">
    <td width="90%">
        <% if( name.indexOf('camera:') != -1 ){ %>
            <i class="icon icon-camera"></i> <%- name.substring(7) %>
        <% } else if( name.indexOf('month:') != -1 ){ %>
            <i class="icon icon-calendar"></i> <%- name.substring(6) %>
        <% } else if( name.indexOf('year:') != -1 ){ %>
            <i class="icon icon-calendar"></i> <%- name.substring(5) %>
        <% } else { %>
            <i class="icon icon-tag"></i> <%- name %>
        <% } %>
    </td>
    <td class="selected-column" width="10%" style="text-align:center;">
        <i class="icon<% if(selected){ %> icon-ok<% } %>">
    </td>
</tr>