<ul class="breadcrumb">
    <li>
        <div class="dropdown album-filter">
            <a class="dropdown-toggle" data-toggle="dropdown" data-selected="all" href="#">All Albums</a> <span class="divider">/</span>
            <ul class="dropdown-menu" role="menu">
                <!-- FIXME: Display most recently viewed albums (5) -->
                <li><a href="#" data-id="all" class="filter-item">All Albums</a></li>
                <li><a href="#" data-id="more" class="filter-item">More...</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="dropdown tags-filter">
            <a class="dropdown-toggle" data-toggle="dropdown" data-selected="any" href="#">Any Tags</a> <span class="divider">/</span>
            <ul class="dropdown-menu" role="menu">
                <!-- FIXME: Display most recently used tag filters (5) -->
                <li><a href="#" data-id="any" class="filter-item">Any Tags</a></li>
                <li><a href="#" data-id="more" class="filter-item">More...</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="dropdown sort-field-filter">
            <a class="dropdown-toggle" data-toggle="dropdown" data-selected="dateTaken" href="#">Date Taken</a> <span class="divider">/</span>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-id="dateTaken" class="filter-item">Date Taken</a></li>
                <li><a href="#" data-id="dateUploaded" class="filter-item">Date Uploaded</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="dropdown sort-direction-filter">
            <a class="dropdown-toggle" data-toggle="dropdown" data-selected="DESCENDING" href="#">Most Recent</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-id="DESCENDING" class="filter-item">Most Recent</a></li>
                <li><a href="#" data-id="ASCENDING" class="filter-item">Oldest</a></li>
            </ul>
        </div>
    </li>
</ul>
