<div class="col-md-12">
    <div class="pull-right">
        <button class="btn btn-default upload-button" title="Upload photos from your computer.">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload
        </button>
        <button class="btn btn-default import-button" title="Import photos from the server.">
            <span class="glyphicon glyphicon-upload"></span> Import
        </button>
    </div>
</div>

<div class="col-md-12">
    <table class="table import-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Started By</th>
                <th>Started At</th>
                <th>File Count</th>
                <th>Tags</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>