<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Photo Details</h4>
        </div>
        <div class="modal-body">

            <div>
                <img src="https://localhost:8443/photopile/image/LARGE/1186" style="height:200px;" />
            </div>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Some cool photo</p>
                        <!--<input type="text" class="form-control" id="name" placeholder="Name..."/>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Taken:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Monday, Jan 27, 2014</p>
                        <!--<input type="text" class="form-control" id="dateTaken" placeholder="Date taken..."/>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Uploaded:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Monday, Jan 27, 2014</p>
                        <!--<input type="text" class="form-control" id="dateUploaded" placeholder="Date uploaded..."/>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Updated:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Monday, Jan 27, 2014</p>
                        <!--<input type="text" class="form-control" id="dateUpdated" placeholder="Date updated..."/>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tags:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">chris, ariana, camera:Nexus5</p>
                        <!--<input type="text" class="form-control" id="tags" placeholder="Tags..."/>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Location:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">Lon 45.123, Lat: 45.123</p>
                        <!--<input type="text" class="form-control" id="location" placeholder="Lon 45.123, Lat: 45.123"/>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">This is a photo we took on our vacation to the beautiful places where we went that day.</p>
                        <!--<textarea class="form-control" rows="4" id="description" placeholder="Description..."></textarea>-->
                    </div>
                </div>

            </form>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
