<tr>
    <td><%
        var importType = 'IMPORT';
        var icon = importType == 'IMPORT' ? 'upload' : 'cloud-upload'; %>
        <span class="glyphicon glyphicon-<%= icon %>"></span> Import</td>
    <td><%- username %></td>
    <td><%- new Date(startDate).toLocaleString() %></td>
    <td><%= initialFileCount %></td>
    <td><%- tags %></td>
    <td><%
        var label = 'info';
        if(status == 'QUEUED' ){
            label = 'warning';
        } else if( status == 'COMPLETE' ){
            label = 'success';
        } %>
        <span class="label label-<%- label %>"><%- status %></span></td>
    <td>
        <button class="btn btn-xs cancel-button btn-danger pull-right" title="Cancel import." data-id="<%= id %>">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
    </td>
</tr>

