<tr>
    <td><span class="glyphicon glyphicon-upload"></span> Import</td>
    <td>admin</td>
    <td>1/8/2014 @ 10:14am</td>
    <td>1234</td>
    <td>imported, vacation</td>
    <td><span class="label label-warning">Processing</span></td>
    <td>
        <button class="btn btn-xs btn-danger pull-right" title="Stop import."><span class="glyphicon glyphicon-stop"></span></button>
    </td>
</tr>
<tr>
    <td><span class="glyphicon glyphicon-cloud-upload"></span> Upload</td>
    <td>cjstehno</td>
    <td>1/7/2014 @ 10:14am</td>
    <td>1234</td>
    <td>stuff, things</td>
    <td><span class="label label-success">Done</span></td>
    <td>
        <button class="btn btn-xs btn-default pull-right" title="Remove record."><span class="glyphicon glyphicon-remove"></span></button>
    </td>
</tr>