<div class="row-fluid photo-overlay">
    <div class="span6">
        <a href="#" class="back-button"><i class="icon icon-chevron-left"></i> Back to Map</a>
    </div>
    <div class="span6">
        <a href="#" class="details-button pull-right" style="padding-right:15px;"><i class="icon icon-eye-open"></i> Details</a>
    </div>
</div>
<div>
    <div class="row-fluid">
        <div class="span12">
            <% if( id ){ %>
            <img src="http://localhost:8080/photopile/image/MEDIUM/<%= id %>" class="img-rounded full-width" />
            <% } %>
        </div>
    </div>
</div>