<div id="messages-dialog" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Messages</h3>
    </div>
    <div class="modal-body">

        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="active item list-item"></div>
                <div class="item details-item"></div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-link pull-left">Help</button>
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>