<table class="table table-striped" style="height:200px;overflow: auto;">
    <thead>
    <tr>
        <th>Type</th>
        <th>Read</th>
        <th>Title</th>
        <th>Date</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% messages.each(function(msg){ %>
    <tr>
        <% if( msg.get('messageType') == 'ERROR' ){ %>
        <td><span class="label label-important"><%= msg.get('messageType') %></span></td>
        <% } else { %>
        <td><span class="label label-info"><%= msg.get('messageType') %></span></td>
        <% } %>
        <td>
            <% if( msg.get('read') != 'true' ){ %>
            <i class="icon-envelope" title="Unread message"></i>
            <% } %>
        </td>
        <td><a href="#" data-id="<%= msg.id %>" class="message-title"><%= msg.get('title') %></a></td>
        <td><%= msg.get('dateCreated') %></td>
        <td>
            <% if( msg.get('read') != 'true' ){ %>
            <button class="btn" data-cmd="mark" data-id="<%= msg.get('id') %>"><i class="icon-ok" title="Mark as read"></i></button>
            <% } %>
        </td>
        <td><button class="btn" data-cmd="delete" data-id="<%= msg.get('id') %>"><i class="icon-trash" title="Remove"></i></button></td>
    </tr>
    <% }); %>
    </tbody>
</table>